@import url(./global.css);

header {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-around;
    padding: 46px;
    align-items: center;
    border-bottom: 0.7px solid var(--color-primary);
}

.nav-bar-header {
    display: flex;
    align-items: center;
    gap: 139px;
}

.navigation-header ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

.navigation-header ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
}

.btn-nav-header {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-button);
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 10px 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 50px;
    background-color: var(--color-secondary);
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 497px;
}

.main-content h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-h1);
    color: var(--color-neutral-white);
}

.main-content h1 span {
    color: var(--color-primary);
}

.main-content p {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: #FFFFFF;
    line-height: 20px;
}

.btn-main {
    display: flex;
    gap: 25px;
}

.btn-primary {
    text-decoration: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    border-radius: 8px;
    padding: 10px 25px;
    border: 1px solid var(--color-primary);
    color: var(--color-neutral-white);
}

.container-financial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.financial-service {
    display: flex;
    gap: 100px; 
}


.financial-service h2 {
    font-size: 40px;
    color: var(--color-secondary);
    margin-bottom: 20px;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

.financial-service h2 span {
    color: var(--color-primary);
}

.financial-service p {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: var(--font-weight-body);
    font-weight: var(--font-weight-body);
    
}
